In [38]:
import datetime
import numpy as np
import pandas as pd
from IPython.display import display
import plotly.graph_objects as go
from ipywidgets import widgets

In [39]:
df = pd.read_csv('C:/Users/Adam/Desktop/repo/wd_dswp/lab_10/data/zamowienia.csv', sep=';')
df.head(10)

     Kraj Sprzedawca Data zamowienia  idZamowienia    Utarg
0  Polska   Kowalski      2003-07-16         10248   440.00
1  Polska   Sowiński      2003-07-10         10249  1863.40
2  Niemcy    Peacock      2003-07-12         10250  1552.60
3  Niemcy  Leverling      2003-07-15         10251   654.06
4  Niemcy    Peacock      2003-07-11         10252  3597.90
5  Niemcy  Leverling      2003-07-16         10253  1444.80
6  Polska   Kowalski      2003-07-23         10254   556.62
7  Polska      Dudek      2003-07-15         10255  2490.50
8  Niemcy  Leverling      2003-07-17         10256   517.80
9  Niemcy    Peacock      2003-07-22         10257  1119.90

In [35]:
h1 = go.Histogram(x=df['Utarg'], opacity=0.75, name='Utarg')
h2 = go.Histogram(x=df['Sprzedawca'], opacity=0.75, name='Sprzedawcy')
graph = go.FigureWidget(data=[h1, h2], layout=go.Layout(title=dict(text='Zamówienia'),barmode='overlay'))

In [36]:
df['Data zamowienia'] = pd.to_datetime(df['Data zamowienia'])
year = widgets.Dropdown(
    description='Rok:',
    value="-",
    options=["-"]+pd.DatetimeIndex(df['Data zamowienia']).year.unique().tolist())
seller = widgets.Dropdown(
    description='Sprzedawca:',
    value="-",
    options=["-"]+df['Sprzedawca'].unique().tolist())
country = widgets.Dropdown(
    description='Kraj:',
    value="-",
    options=["-"]+df['Kraj'].unique().tolist())
aggregation = widgets.Dropdown(
    description='Agregacja:',
    value="-",
    options=["-"]+['Suma', 'Średnia'])

In [37]:
def response(change):
    filter_list = [i and j and k for i, j, k in
        zip(df['Data zamowienia'].dt.year == year.value,
            df['Sprzedawca'] == seller.value,
            df['Kraj'] == country.value)]
    temp_df = df[filter_list]
    if agg.value == 'Suma':
        x = temp_df['Utarg'].sum()
    else:
        x = temp_df['Utarg'].mean()
    with graph.batch_update():
        graph.data[0].x = x
        graph.layout.barmode = 'overlay'


year.observe(response, names='value')
seller.observe(response, names='value')
country.observe(response, names='value')
aggregation.observe(response, names='value')

ctr = widgets.HBox([year, seller, country, aggregation])
w = widgets.VBox([ctr,raph])

display(w)

VBox(children=(HBox(children=(Dropdown(description='Rok:', options=('-', 2003, 2004, 2005), value='-'), Dropdo…